/* Global */
body {
  background-color: #E9D9C1;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #E9D9C1;
  padding: 10px 5%;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h1 {
  color: #7A8B5F;
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;   /* text överst, bild under */
  width: 80%;
  max-width: 320px;
  height: 440px;            /* mobilvänlig höjd */
  margin: 140px auto 20px;  /* lämnar plats för header */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background: #BFA78A;
  align-items: center;
}

/* Textdelen */
.card-content {
  padding: 10px 15px;
  text-align: center;
}

.card-content h2{
    color: #3A2F25;
}

.card-btn{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #E3D3B8;
    color: #3A2F25;
    font-weight: 700;
    border: 3px solid #88A273;
    transition: all 0.1s ease;
}

.card-btn:active{
    transform: scale(1.3);
    border-width: 6px;
}

.card-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}